numpy==2.2.6
pandas==2.3.2
scikit-learn==1.7.2
joblib==1.5.2
fastapi==0.116.1
pydantic==2.11.7
streamlit==1.49.1
uvicorn==0.35.0
pycocotools 
opencv-python 
pillow 
requests 
tqdm
mlflow
scikit-image
dvc
dvc_s3
dagshub